!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title かまめしランチ
    = stylesheet_link_tag :united, media: :all
    = stylesheet_link_tag :login, media: :all
  %body
    .container
      - render 'flash' # flashメッセージは表示しない
      = image_tag 'logo_top.png', alt: 'かまめしランチ', id: :logo
      #login= link_to 'Google Apps アカウントでログイン', user_omniauth_authorize_path(:google_oauth2), class: 'btn btn-success btn-lg'
      %p ※ gaiax.com と adish.co.jp の両方のメールアドレスをお持ちの方は、adish.co.jp のアカウントでログインしてください。
