%h2 お問い合わせ
%p 不明点やご質問がありましたら下記の連絡先までお願いします。

%header 石川 雄基 (AIRY)
%dl.dl-horizontal
  %dt 【Email】
  %dd= mail_to 'yuuki.ishikawa@gaiax.com', nil, encode: :hex
  %dt 【Skype】
  %dd ishikawa_gx

%header 田嶋 勝利 (MOB)
%dl.dl-horizontal
  %dt 【Email】
  %dd= mail_to 'katsutoshi.tajima@gaiax.com', nil, encode: :hex
  %dt 【Skype】
  %dd katsutoshi.tajima
