%h2 今までに開催したイベント一覧

%table.table.table-hover.table-bordered
  %tr
    %th
    %th 募集期間
  - @events.each do |event|
    %tr
      %td
        = link_to event.title, event
        - if event.inviting?
          .label.label-success 募集中
      %td
        = event.invited_at
        〜
        = event.closed_at

.actions
  = link_to new_event_path, class: 'btn btn-success' do
    %i.glyphicon.glyphicon-plus
    新しいイベントを作成
